/* reset */

* { 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.cointaner {

    width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {

width: calc(100% / 3 );
padding: 25px;
}