/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 30px;
}

section {
padding: 60px;

}

img {
    max-width: 20%;
}
;


.container {
    width: 120%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    

}

.col {
    
    width: calc(100%  / 3 );
    padding: 25px;
}

